<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mentor.nucleus.bp.debug.ui.BPApplication">
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.activity" value="false"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.deterministic" value="false"/>
<mapAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.models">
<mapEntry key="dsl" value="788133ed-5c1b-49d3-a55a-afb62be2c5b7_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_df02cd7e-b937-47c5-8ae8-f1d0ab8c79dd_INTERNALTOKEN_1_INTERNALTOKEN_09e49ffe-b285-4d08-adf6-9db306617bf4_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.simtime" value="false"/>
<intAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.timeout" value="0"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/dsl}/verifier_out.txt"/>
</launchConfiguration>
