<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.xtuml.bp.debug.ui.BPApplication">
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.deterministic" value="false"/>
<mapAttribute key="org.xtuml.bp.debug.ui.BPApplication.models">
<mapEntry key="RealizedComponentTest" value="e185d53c-43a7-48e4-97e4-0b62db280814_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_7a734408-7fe0-4de7-a291-5ac33624153f_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_ec50cd90-9d8a-4b23-955d-8f7a0c640258_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="org.xtuml.bp.debug.ui.BPApplication.timeout" value="0"/>
</launchConfiguration>
