<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mentor.nucleus.bp.debug.ui.BPApplication">
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.models">
<mapEntry key="ex2" value="d2834630-9985-4efb-b4e4-9c93df1c2e57_INTERNALTOKEN_1_INTERNALTOKEN_4509f715-03bb-49ea-9bc7-153549298b7f_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.timeout" value="5"/>
</launchConfiguration>
