<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.xtuml.bp.debug.ui.BPApplication">
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.deterministic" value="false"/>
<mapAttribute key="org.xtuml.bp.debug.ui.BPApplication.models"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.simtime" value="false"/>
<intAttribute key="org.xtuml.bp.debug.ui.BPApplication.timeout" value="15"/>
</launchConfiguration>
