/bin/**
/Debug_Linux/src
/Debug_Linux/makefile
/Debug_Linux/*.mk
/Release_Linux/src
/Release_Linux/makefile
/Release_Linux/*.mk
gen/code_generation
/doc
/Debug_Windows/
/Debug_Windows/bin
/Debug_Windows/src

# exclude everything
/src/*
# exception to the rule
!/src/.gitkeep 
/Debug_Linux/
/Debug_Mac/
