/bin/**
/Debug_Linux/src
/Debug_Linux/makefile
/Debug_Linux/*.mk
gen/code_generation
/doc
/Debug_Windows/
/Debug_Windows/bin
/Debug_Windows/src
/Debug_Linux/

# exclude everything
/src/*
# exception to the rule
!/somefolder/.gitkeep 