<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.xtuml.bp.debug.ui.BPApplication">
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.activity" value="false"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="org.xtuml.bp.debug.ui.BPApplication.models">
<mapEntry key="pei" value="515c8018-0c73-4e2e-a7f9-3379de6bc14b_INTERNALTOKEN_1_INTERNALTOKEN_4807d6b4-3625-4a1e-8ae9-34a47cedfcd8_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="org.xtuml.bp.debug.ui.BPApplication.timeout" value="0"/>
</launchConfiguration>
