<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.xtuml.bp.debug.ui.BPApplication">
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="org.xtuml.bp.debug.ui.BPApplication.models">
<mapEntry key="assoc_unformal" value="a96fd9a4-fbd8-4da0-a865-0325d2e5cd10_INTERNALTOKEN_1_INTERNALTOKEN_0c22f7e4-6f2e-47fd-9f66-c1203250d255_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="org.xtuml.bp.debug.ui.BPApplication.timeout" value="5"/>
</launchConfiguration>
