<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.xtuml.bp.debug.ui.BPApplication">
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="org.xtuml.bp.debug.ui.BPApplication.models">
<mapEntry key="assoc_unformal" value="92fe7411-cde1-4ca3-969f-8ae25df3cea9_INTERNALTOKEN_1_INTERNALTOKEN_74032df9-34c8-4c3a-a3f3-4ad22913d61f_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="org.xtuml.bp.debug.ui.BPApplication.timeout" value="5"/>
</launchConfiguration>
