<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mentor.nucleus.bp.debug.ui.BPApplication">
<stringAttribute key="bad_container_name" value="s"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.deterministic" value="false"/>
<mapAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.models">
<mapEntry key="subsuperchain" value="8bce25cf-7be5-4fc1-81da-61aa785a5af3_INTERNALTOKEN_1_INTERNALTOKEN_4a93ca22-751f-4e7d-aec2-9f7951ef1e3e_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.simtime" value="false"/>
<intAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.timeout" value="0"/>
</launchConfiguration>
