<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mentor.nucleus.bp.debug.ui.BPApplication">
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.activity" value="false"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.models">
<mapEntry key="polycalc" value="07d515d6-22be-4462-bf0b-ec9f664e77e1_INTERNALTOKEN_1_INTERNALTOKEN_3efea2e9-7e73-44e6-8ddf-aadf567b69b2_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.timeout" value="5"/>
</launchConfiguration>
