<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.xtuml.bp.debug.ui.BPApplication">
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.activity" value="false"/>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="org.xtuml.bp.debug.ui.BPApplication.models">
<mapEntry key="test_set_operations_5007" value="24e0f854-4416-437b-9cdf-da334f106274_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_bd147a66-393b-4a50-bdb3-ef7ab39224ab_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="org.xtuml.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="org.xtuml.bp.debug.ui.BPApplication.timeout" value="0"/>
</launchConfiguration>
